* {
    margin: 0;
}

header  {
    background-color: black;
}

body{
    background-color: red;
}


h1 {
    color: orangered;
}

a {
    color: orangered;
    text-decoration: none;
}

img {
    width: 400px;
}

div {
    border: solid white 3px;
    width: 400px;
}
